<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
              rachel <span class="green">greene</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#work">work</a>
                </li>
                <li>
                    <a class="page-scroll" href="#process">process</a>
                </li>
                <li>
                    <a class="page-scroll" href="#architect">architecture</a>
                </li>
                 <li>
                    <a class="page-scroll" href="#aboutme">about me</a>
                </li>
                <li>
                    <a class="page-scroll" href="img/resume.pdf" target="_blank">resume</a>
                </li>           
                 </ul>
        </div> 
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" id="brand-text">
                    <h1 class="brand-heading"><span class="green">ux designer</span> for hire</h1>
                    <p class="intro-text">Less is more- Mies Van de Rohe</p>
                    <a href="#work" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- work Section -->
<section id="work" class="container content-section text-center">
	    	<div class="sect-header"><h2>work</h2></div>
<!-- LoudBeacon App -->
    <div class="row">
            <div class="prjct-title text-left">
            <div class="col-md-8"><h3>LoudBeacon</h3>
            <h4>mobile application</h4></div>
            <div class="col-md-4 btn">
                <ul class="list-inline banner-social-buttons prjct-btn">
                    <li>
                    <a href="https://marvelapp.com/957dj4" class="btn btn-default btn-sm"> <span class="network-name" target="_blank">Prototype</span></a>
                    </li>
                    <li>
                    <a href="https://drive.google.com/folderview?id=0B44tD2pWaPN1TmhMTHRnaEJXMTA&usp=sharing" target="_blank"><span class="network-name">Documentation</span></a>
                    </li>
                </ul>
        </div>
    </div>
    <div class="prjct-sum">
            <p>LoudBeacon is a Seattle Startup that helps mobile businesses connect with their customers by allowing people to broadcast their location in realtime.  This project was done in collaboration with two other designers.  We started by interviewing our stakeholder about LoudBeacon in order to understand the company and its mission. A theme emerged of  giving mobile businesses an open sign. With that in mind we went to the streets and interviewed food trucks, the biggest mobile business, and people that ate at the trucks.  With a better understanding of the problem—the difficulty of mobile businesses broadcasting their location, and the difficulty for their customers to find their location in realtime—we tested the current version of the mobile applications.  After the initial tests we made a few changes and tested again.  In the end we recommended to our client based on our data to adjust UI elements, remove some less pertinent features and rework LoudBeacon’s brand.  Our deliverables are currently in the hands of the client and will be implemented in the near future.</p>
    </div>
<!-- LoudBeacon Sidebar-->
        <div class="col-md-4  text-left">
            <div class="prjct-tools">
                <h4>tools</h4>
                <p>Sketch, Illustrator, Marvel, sketching</p>
                <h4>my role:</h4>
                <p>Scrum Leader, User Interviews, User Research, Competitive/Compartive Anaylsis,  Concept Maps, Site Map, User Flow, Wireframes, & Sketching</p>
            </div>

        </div>
<!-- LoudBeacon carousel -->        
        <div class="col-md-7 col-md-offset-1 text-left prjct-sum">
        <div id="owl-loudbeacon" class="owl-carousel owl-theme">
 
            <div class="item"><img src="img/loud1.jpg" alt="Last Iteration of Prototype"> 
                <div class="carousel-caption">
                <!-- <h4>Wires to UI</h4> -->
                <p></p>
                </div>
            </div>
             <div class="item"><img src="img/loud2.jpg" alt="Information Architecture">               
                <div class="carousel-caption">
                <!-- <h4>Wires to UI</h4> -->
                <p>Understanding the information Architecture</p>
                </div></div>
            <div class="item"><img src="img/loud3.jpg" alt="Iterate">
                <div class="carousel-caption">
                <!-- <h4>Wires to UI</h4> -->
                <p>Test, Iterate, Repeat</p>
                </div></div></div>
 
        </div>
        </div>
<!-- REI App -->
    <div class="row">
        <div class="prjct-dv"></div>
    	    <div class="prjct-title text-left">
            <div class="col-md-8"><h3>FairWeather Camping</h3>
            <h4>web application</h4></div>
            <div class="col-md-4 btn">
            	<ul class="list-inline banner-social-buttons prjct-btn">
                	<li>
                    <a href="https://invis.io/8Q4HDXTCB" class="btn btn-default btn-sm"> <span class="network-name" target="_blank">Prototype</span></a>
                	</li>
                	<li>
                    <a href="https://drive.google.com/folderview?id=0B44tD2pWaPN1TU5wOENQVDJVNFk&usp=sharing" class="btn btn-default btn-sm" target="_blank"><span class="network-name">Documentation</span></a>
                	</li>
            	</ul>
        </div>
    </div>
    <div class="prjct-sum">
            <p>FairWeather Camping  was created as a companion app for the REI  ecommerce site that helps users plan and manage their camping trips. My hypothesis was that a planning app wasn’t going to help people go camping more and that something else was needed. I then interviewed outdoor enthusiasts about their camping habits and what would make camping more accessible.   After analyzing the data — the user interviews, market research and seeing what applications were already out there — I developed my persona Eliza, a mid 30’s professional who has a crazy work schedule and isn’t able to make plans in advance to go camping. What Eliza needed was a social network that would allow her to connect to her friends and their plans. </p>
    </div>
<!-- REI Sidebar-->
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<p>Sketch, InVision, sketching</p>
        		<h4>my role:</h4>
        		<p>User Interviews, User Research, Competitive/Compartive Anaylsis, Personas, Concept Maps, Site Map, User Flow, Wireframes, Prototyping, Sketching & User Testing</p>
        	</div>

        </div>
<!-- Rei carousel -->        
		<div class="col-md-7 col-md-offset-1 text-left prjct-sum">
		<div id="owl-rei" class="owl-carousel owl-theme">
 
  			<div class="item"><img src="img/rei1.png" alt="Wires to UI"> 
  				<div class="carousel-caption">
    			<!-- <h4>Wires to UI</h4> -->
    			<p>Wires to UI</p>
  				</div>
			</div>
 			 <div class="item"><img src="img/rei2.png" alt="Overal site">  				
 			 	<div class="carousel-caption">
    			<!-- <h4>Wires to UI</h4> -->
    			<p>Wireframes of site pieces</p>
  				</div></div>
  			<div class="item"><img src="img/rei3.png" alt="Before the design">
  				<div class="carousel-caption">
    			<!-- <h4>Wires to UI</h4> -->
    			<p>Thinking before design</p>
  				</div></div></div>
 
		</div>
		</div>
<!-- Bumbershoot -->
    <div class="row">
    	<div class="prjct-dv"></div>
    	<div class="prjct-title text-left">
            <div class="col-md-8"><h3>Bumbershoot</h3>
            <h4>mobile application</h4></div>
            <div class="col-md-4 btn">
            	<ul class="list-inline banner-social-buttons prjct-btn">
                	<li>
                    <a href="http://24ynbh.axshare.com/#c=2" class="btn btn-default btn-sm"> <span class="network-name" target="_blank">Prototype</span></a>
                	</li>
                	<li>
                    <a href="https://drive.google.com/folderview?id=0B44tD2pWaPN1VWxTTjZ2T1c4bDA&usp=sharing" class="btn btn-default btn-sm" target="_blank"><span class="network-name">Documentation</span></a>
                	</li>
            	</ul>
        </div>
    </div>
    <div class="prjct-sum">
        	<p>Bumbershoot’s goal for this mobile app was to bring their existing app into current technology, utilizing the iPhone's native capabilities to enhance a festival goer's experience.  This project was a collaborative effort between three UX designers and it began with interviewing past festival goers about their prior experience at Bumbershoot. It was important to the team to look into the organization’s history, understand other festival experiences, and conduct a comparative/competitive analysis.  After our extensive research and planning phase, we kicked off the design process with a design studio in order to solidify our main ideas and develop a cohesive design concept.  The purpose of the studio was to create basic design ideas that helped build our first prototype. Our final prototype led Jake, our persona, through his experience at Bumbershoot of finding friends, locating beer, navigating through the festival and discovering new music.  We utilized the phone's capabilities by integrating 3D touch, location services, and the accelerometer.</p>
    </div>
		<!-- Bumbershoot Sidebar -->
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<p>Axure, sketching</p>
        		<h4>my role:</h4>
        		<p>Competitive/Compartive Anaylsis, User Flow, Concept Maps, Sketching, Site Map, User Flow, Wireframes, User Test Plan, User Testing & Design Specification</p>
        	</div>

        </div>

<!-- carousel bumbershoot -->
        <div class="col-md-7 col-md-offset-1 text-left prjct-sum">

		<div id="owl-bmbrsht" class="owl-carousel owl-theme">
 
  			<div class="item"><img src="img/bmbrsht1.png" alt="Prototype">
				<div class="carousel-caption">
    			<!-- <h4>Wires to UI</h4> -->
    			<p>Prototype</p>
  				</div>
  			</div>
 			<div class="item"><img src="img/bmbrsht2.png" alt="User Flow">
				<div class="carousel-caption">
    			<!-- <h4>Wires to UI</h4> -->
    			<p>User Flow Site Map</p>
  				</div>
 			</div>
 			<div class="item"><img src="img/bmbrsht3.png" alt="The Last of us">
				<div class="carousel-caption">
    			<!-- <h4>Wires to UI</h4> -->
    			<p>Sample of the Interaction Spec</p>
  				</div>
 			</div>
 
		</div>

		</div>
    </div>
<!-- Portfolio -->
    <div class="row">
    	<div class="prjct-dv"></div>
    	    <div class="prjct-title text-left">
            <div class="col-md-8"><h3>RG Design</h3>
            <h4>portfolio website</h4></div>
            <div class="col-md-4 btn">
            	<ul class="list-inline banner-social-buttons prjct-btn">
                	<li>
                    <a href="https://drive.google.com/open?id=0B44tD2pWaPN1bnZSa1BKdUR6Z28" target="_blank" class="btn btn-default btn-sm" target="_blank"><span class="network-name">Documentation</span></a>
                	</li>
            	</ul>
        </div>
    </div>
    <div class="prjct-sum">
            <p>I approached my portfolio as if it were a design problem.  My objective was to find the optimal solution to displaying my work and personality in an effective way.  I first set out to find out what employers look for in potential employees and what is the current trend in UX portfolios. I did a search of what the world thought were well designed websites. I studied the layout, content, and general design to understand what was good about them.   After conducting my initial research,  I created wireframes. Then I used HTML5 and Bootstrap to code up the first version of my portfolio. After some months of being live, I evaluated the heuristics of the site and iterated in order to address the response to the first version in its current manifestation.</p>
    </div>
		<!-- Portfolio Sidebar-->
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<p>Sketching, Sketch, HTML5/CSS, Bootstrap, & Jquery</p>
        		<h4>my role:</h4>
        		<p>User Research, Competitive/Compartive Anaylsis, Heuristic Anaylisi, Task AnalysisConcept Maps, Sketching, Site Map, User Flow & Wireframes</p>
        	</div>

        </div>

<!-- carousel portfolio -->
    <div class="col-md-7 col-md-offset-1 text-left prjct-sum">

		<div id="owl-prtfl" class="owl-carousel owl-theme">
 
  			<div class="item"><img src="img/prtfl1.png" alt="wire to reality">
  				<div class="carousel-caption">
    			<!-- <h4>Wires to UI</h4> -->
    			<p>Wireframe to Code</p>
  				</div></div>
 			<div class="item"><img src="img/prtfl2.png" alt="Before the Code">
				<div class="carousel-caption">
    			<!-- <h4>Wires to UI</h4> -->
    			<p>Before there was code, there was thought</p>
  				</div>
 			</div>
 			<div class="item"><img src="img/prtfl3.png" alt="Portfolio over time">
				<div class="carousel-caption">
    			<!-- <h4>Wires to UI</h4> -->
    			<p>Iterate, Iterate, Iterate</p>
  				</div>
 			</div>
 
		</div>
	</div>
 	</div>

</section>

<!-- Process Section -->
<section id="process" class="content-section text-center">
	<div clas="container">
	<div class="sect-header"><h2>process</h2></div>
    <div class="row">
    	<div class="awesome">
    	
			<a class="btn filter" data-filter="all">Show All</a>
			<a class="btn filter" data-filter=".research">Research</a>
			<a class="btn filter" data-filter=".plan">Plan</a>
			<a class="btn filter" data-filter=".design">design</a>
			<a class="btn filter" data-filter=".test">Test</a>
        </div>
			<div class="mixit" id="Container">
				<div class="mix research"><img src="img/research1.jpg"></div>
				<div class="mix plan"><img src="img/plan1.jpg"></div>
				<div class="mix test"><img src="img/test1.jpg"></div>
				<div class="mix design"><img src="img/design1.jpg"></div>
				<div class="mix design"><img src="img/design2.jpg"></div>
				<div class="mix plan"><img src="img/plan2.jpg"></div>
				<div class="mix research"><img src="img/research2.jpg"></div>
				<div class="mix test"><img src="img/test2.jpg"></div>
				<div class="mix plan"><img src="img/plan3.jpg"></div>
				<div class="mix test"><img src="img/test3.jpg"></div>
				<div class="mix design"><img src="img/design3.jpg"></div>
				<div class="mix research"><img src="img/research3.jpg"></div>
			</div>
        </div>
     </div>
</section>

<!-- Architect-ingSection -->
<section id="architect" class="container content-section text-center">
	    	<div class="sect-header"><h2>architecture</h2></div>
<!-- BAM -->
    <div class="row">
    	    <div class="prjct-title text-left">
            <h3>BAM</h3>
            <h4>research</h4>
    		</div>
    <div class="prjct-sum">
            <p>BAM was a concept project born from the desire of four graduate students in Architecture to explore how to take research and form design/architecture.  It was a study on taking verbs: make, collect, contain and exchange and then creating art and architecture.  Each person researched one of the verbs and produced sketches, sculptures and collages from the research.  Those creations were later analyzed and combined in order to create a program and design for a “Faith Based School of Books and Baking.”</p>
    </div>
<!-- BAM Sidebar-->
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<p>Sketching, Plaster, Resin, & Photoshop</p>
        	</div>

        </div>
<!-- BAM carousel -->        
		<div class="col-md-7 col-md-offset-1 text-left prjct-sum">
		<div id="owl-bam" class="owl-carousel owl-theme">
 
  			<div class="item"><img src="img/bam1.jpg" alt="Collage"></div>
 			<div class="item"><img src="img/bam2.jpg" alt="Resin and Plaster Model"></div>
  			<div class="item"><img src="img/bam3.png" alt="Resin and Plaster Model"></div>
 			<div class="item"><img src="img/bam4.png" alt="Resin and Plaster Model"></div>
		</div>
		</div>

    </div>

    <!-- Al Ain -->
    <div class="row">
    <div class="prjct-dv"></div>
    	    <div class="prjct-title text-left">
            <h3>Al Ain Wildlife Park</h3>
            <h4>plan</h4>
    		</div>
    <div class="prjct-sum">
            <p>Al Ain Wildlife Park was a project to expand existing zoo exhibits and to create three wildlife safari exhibits.  The challenge was to design a destination experience that is memorable to the zoo visitors, meets business goals—selling merchandise, and keeps the animals safe and happy.  The team relied on the firm’s expertise in zoo design, the client’s knowledge of animal well being and interviewing marketing consultants in order to find the best solution to the problem.  In the end, I created the initial plans for the safari pick up and drop off  that included curated views, concession, a mosque, gift shop, restrooms and ticket sells.</p>
    </div>
<!-- Al Ain Sidebar-->
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<p>Sketching, Hand Drafting, Photoshop, InDesign, & AutoCAD</p>
        	</div>

        </div>
<!-- Al Ain carousel -->        
		<div class="col-md-7 col-md-offset-1 text-left prjct-sum">
		<div id="owl-alain" class="owl-carousel owl-theme">
 
  			<div class="item"><img src="img/alain1.png" alt="Portal Plan"></div>
 			<div class="item"><img src="img/alain3.png" alt="Portal Section"></div>
  			<div class="item"><img src="img/alain2.jpg" alt="Hippo Exhibit"></div>
		</div>
		</div>

    </div>

 <!-- 219 Terry -->
    <div class="row">
    	  <div class="prjct-dv"></div>   
    	    <div class="prjct-title text-left">
            <h3>219 Terry</h3>
            <h4>design & test</h4>
    		</div>
    	<div class="prjct-sum">
            <p>In Architecture there isn’t the same opportunity to design, test and iterate as in software development. Instead, architects use what they learned from one project in order to design the next project. At 219 my firm was hired to design the core and shell along with 4 tenant spaces. The projects overlapped but at the same time the team was able to develop 4 unique experiences for each tenant, develop a stronger design standard using a new tool, Revit, and how to create better design documentation in order to help communicate the design intentions with the contractors.</p>
    </div>
<!-- 219 Terry Sidebar-->
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<p>Revit, Microsoft Office, & AutoCad</p>
        	</div>

        </div>
<!-- Al Ain carousel -->        
		<div class="col-md-7 col-md-offset-1 text-left prjct-sum">
		<div id="owl-terry" class="owl-carousel owl-theme">
 
  			<div class="item"><img src="img/terry1.jpg" alt="Exterior Shot"></div>
 			<div class="item"><img src="img/terry2.png" alt="3d Plan Exploded"></div>
  			<div class="item"><img src="img/terry3.jpg" alt="Interior shot of Lab"></div>
		</div>
		</div>

    </div>
</section>

<!-- About MeSection -->
<section id="aboutme" class="content-section text-center"> 
	<div class="container">
	<div class="row">
	    	<div class="sect-header"><h2>about me</h2></div>
            <div class="col-md-4 photostrip">
            	<div class="rgpic"><img src="img/Rachel Greene 6633_BW.jpg"></div>
            	<div class="rgpic"><img src="img/Rachel Greene 6634.jpg"></div>
				<div class="rgpic" id="family1"><img src="img/Rachel Greene 6635_BW.jpg"></div>
				<div class="rgpic" id="family2"><img src="img/Rachel Greene 6636_BW.jpg"></div>
            	<div class="rgpic" id="family3"><img src="img/Rachel Greene 6638_BW.jpg"></div>
            </div>
            <div class="col-md-8">
            	<div class="prjct-sum">
		           <p>I am a UX designer that is building off my career in architecture. The work that is involved with UX parallels the work I was passionate about in architecture with the emphasis on designing with the user and data in mind. Along with my curiosity to explore good design, I am a problem solver, team player and lifelong learner.</p>
	     		 <p class="about-me">What I like about UX...
			        <ul>
			          <li>thinking about how the user navigates through the site,</li>
			          <li>working with a team to solve complex issues,</li>
			          <li>wireframing.</li>

			        </ul></p>
			      <p class="about-me">What I want out of life... <ul>
			          <li>to be passionate about my job</li>
			          <li>to raise citizens of the world</li>
			          <li>to eventually have a team of my own.</li>
			        </ul>
			     </p>
                    <p class="about-me">Fun facts...
                    <ul>
                      <li>I've lived in 4 other countries besides the USA,</li>
                      <li>I ran a marathon just to say that I could do that,</li>
                      <li>I like sandwiches for breakfast.</li>
                    </ul>
                 </p>
                <div class="connect">
	            <p><a href="mailto:greenest@gmail.com">Drop me a line</a>
	            </p>
	            <ul class="list-inline banner-social-buttons">
	                <li>
	                    <a href="https://www.linkedin.com/in/greenerachel" class="btn btn-default btn-sm"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name" target="_blank">LinkedIn</span></a>
	                </li>
	              <!--   <li>
	                    <a href="mailto:greenest@gmail.com" class="btn btn-default btn-sm"><i class="fa fa-gmail fa-fw"></i> <span class="network-name">Email</span></a>
	                </li> -->
	                <li>
	                    <a href="https://plus.google.com/u/0/115808940052613551628/about/p/pub" class="btn btn-default btn-sm"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name" target="_blank">Google+</span></a>
	                </li>
	            </ul>
                </div>
                </div>
        	</div>
    </div>
</div>
</section>

<!-- Footer -->
<footer>
    <div class="text-center">
        <p>Powered by Rachel Greene, you should hire her</p>
    </div>
</footer>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
<script src="main.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
 -->
<!-- Custom Theme JavaScript -->
<script src="js/grayscale.js"></script>