<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
              rachel <span class="green">greene</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#work">work</a>
                </li>
                <li>
                    <a class="page-scroll" href="#process">process</a>
                </li>
                <li>
                    <a class="page-scroll" href="#architect">architect-ing</a>
                </li>
                 <li>
                    <a class="page-scroll" href="#aboutme">about me</a>
                </li>
                <li>
                    <a class="page-scroll" href="public/Resume.pdf">resume</a>
                </li>           
                 </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-4" id="brand-text">
                    <h1 class="brand-heading"><span class="green">ux designer</span> for hire</h1>
                    <p class="intro-text">Less is more- Mies Van de Rohe</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- work Section -->
<section id="work" class="container content-section text-center">
    <div class="row">
    	<div class="sect-header"><h2>work</h2></div>
    	    <div class="prjct-title text-left">
            <h3>FairWeather Camping</h3>
            <h4>web application</h4>
        	</div>
		<div id="owl-demo" class="owl-carousel owl-theme">
		  <div class="item"><h1>1</h1></div>
		  <div class="item"><h1>2</h1></div>
		  <div class="item"><h1>3</h1></div>
		  <div class="item"><h1>4</h1></div>
		  <div class="item"><h1>5</h1></div>
		  <div class="item"><h1>6</h1></div>
		  <div class="item"><h1>7</h1></div>
		  <div class="item"><h1>8</h1></div>
		  <div class="item"><h1>9</h1></div>
		  <div class="item"><h1>10</h1></div>
		  <div class="item"><h1>11</h1></div>
		  <div class="item"><h1>12</h1></div>
		  <div class="item"><h1>13</h1></div>
		  <div class="item"><h1>14</h1></div>
		  <div class="item"><h1>15</h1></div>
		  <div class="item"><h1>16</h1></div>
		</div>
		 
		<div class="customNavigation">
		  <a class="btn prev">Previous</a>
		  <a class="btn next">Next</a>
		  <a class="btn play">Autoplay</a>
		  <a class="btn stop">Stop</a>
		</div>
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<ul>
        			<li>Sketch</li>
        			<li>InVision</li>
        			<li>sketching</li>
        		</ul>
        		<h4>skills</h4>
        		<ul>
        			<li>User Interviews</li>
        			<li>Competitive/Compartive Anaylsis</li>
        			<li>Personas</li>
        			<li>Concept Maps</li>
        			<li>Sketching</li>
        			<li>site map</li>
        			<li>user flow</li>
        			<li>wireframes</li>
        			<li>using testing</li>
        		</ul>
        	</div>

        </div>
        <div class="col-md-8 text-left prjct-sum">
        	<ul class="list-inline banner-social-buttons prjct-btn">
                <li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"> <span class="network-name">Prototype</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><span class="network-name">Documentation</span></a>
                </li>
            </ul>
        	<p>FairWeather Camping  was created as a companion app for the REI  ecommerce site that helps users plan and manage their camping trips. My hypothesis was that a planning app wasn’t going to help people go camping more and that something else was needed. I then interviewed outdoor enthusiasts about their camping habits and what would make camping more accessible.   After analyzing the data — the user interviews, market research and seeing what applications were already out there — I developed my persona Eliza, a mid 30’s professional who has a crazy work schedule and isn’t able to make plans in advance to go camping. What Eliza needed was a social network that would allow her to connect to her friends and their plans. </p></div>

    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Download Grayscale</h2>
                <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
            </div>
        </div>
    </div>
</section>

<!-- Process Section -->
<section id="process" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Start Bootstrap</h2>
            <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
            <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Architect-ingSection -->
<section id="architect" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Start Bootstrap</h2>
            <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
            <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- About MeSection -->
<section id="aboutme" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Start Bootstrap</h2>
            <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
            <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Your Website 2014</p>
    </div>
</footer>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<!-- Custom Theme JavaScript -->
<script src="js/grayscale.js"></script>