<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
              rachel <span class="green">greene</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#work">work</a>
                </li>
                <li>
                    <a class="page-scroll" href="#process">process</a>
                </li>
                <li>
                    <a class="page-scroll" href="#architect">architect-ing</a>
                </li>
                 <li>
                    <a class="page-scroll" href="#aboutme">about me</a>
                </li>
                <li>
                    <a class="page-scroll" href="public/Resume.pdf">resume</a>
                </li>           
                 </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-4" id="brand-text">
                    <h1 class="brand-heading"><span class="green">ux designer</span> for hire</h1>
                    <p class="intro-text">Less is more- Mies Van de Rohe</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- work Section -->
<section id="work" class="container content-section text-center">
	    	<div class="sect-header"><h2>work</h2></div>
<!-- REI App -->
    <div class="row">
    	    <div class="prjct-title text-left">
            <div class="col-md-8"><h3>FairWeather Camping</h3>
            <h4>web application</h4></div>
            <div class="col-md-4 btn">
            	<ul class="list-inline banner-social-buttons prjct-btn">
                	<li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-sm"> <span class="network-name">Prototype</span></a>
                	</li>
                	<li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-sm"><span class="network-name">Documentation</span></a>
                	</li>
            	</ul>
        </div>
    </div>
    <div class="prjct-sum">
            <p>FairWeather Camping  was created as a companion app for the REI  ecommerce site that helps users plan and manage their camping trips. My hypothesis was that a planning app wasn’t going to help people go camping more and that something else was needed. I then interviewed outdoor enthusiasts about their camping habits and what would make camping more accessible.   After analyzing the data — the user interviews, market research and seeing what applications were already out there — I developed my persona Eliza, a mid 30’s professional who has a crazy work schedule and isn’t able to make plans in advance to go camping. What Eliza needed was a social network that would allow her to connect to her friends and their plans. </p>
    </div>
<!-- REI Sidebar-->
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<ul>
        			<li>Sketch</li>
        			<li>InVision</li>
        			<li>sketching</li>
        		</ul>
        		<h4>my role:</h4>
        		<ul>
        			<li>User Interviews</li>
        			<li>Competitive/Compartive Anaylsis</li>
        			<li>Personas</li>
        			<li>Concept Maps</li>
        			<li>site map</li>
        			<li>user flow</li>
        			<li>wireframes</li>
        			<li>using testing</li>
        		</ul>
        	</div>

        </div>
<!-- Rei carousel -->        
		<div class="col-md-8 text-left prjct-sum">
		<div id="owl-rei" class="owl-carousel owl-theme">
 
  			<div class="item"><img src="img/rei1.png" alt="The Last of us"></div>
 			 <div class="item"><img src="img/rei2.png" alt="GTA V"></div>
  			<div class="item"><img src="img/rei3.png" alt="Mirror Edge"></div>
 
		</div>
		</div>

    </div>
<!-- Bumbershoot -->
    <div class="row">
    	<div class="prjct-dv"></div>
    	<div class="prjct-title text-left">
            <div class="col-md-8"><h3>Bumbershoot</h3>
            <h4>mobile application</h4></div>
            <div class="col-md-4 btn">
            	<ul class="list-inline banner-social-buttons prjct-btn">
                	<li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-sm"> <span class="network-name">Prototype</span></a>
                	</li>
                	<li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-sm"><span class="network-name">Documentation</span></a>
                	</li>
            	</ul>
        </div>
    </div>
    <div class="prjct-sum">
        	<p>Bumbershoot’s goal for this mobile app was to bring their existing app into current technology, utilizing the iPhone's native capabilities to enhance a festival goer's experience.  This project was a collaborative effort between three UX designers and it began with interviewing past festival goers about their prior experience at Bumbershoot. It was important to the team to look into the organization’s history, understand other festival experiences, and conduct a comparative/competitive analysis.  After our extensive research and planning phase, we kicked off the design process with a design studio in order to solidify our main ideas and develop a cohesive design concept.  The purpose of the studio was to create basic design ideas that helped build our first prototype. Our final prototype led Jake, our persona, through his experience at Bumbershoot of finding friends, locating beer, navigating through the festival and discovering new music.  We utilized the phone's capabilities by integrating 3D touch, location services, and the accelerometer.</p>
    </div>
		<!-- Bumbershoot Sidebar -->
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<ul>
        			<li>Axure</li>
        			<li>sketching</li>
        		</ul>
        		<h4>my role:</h4>
        		<ul>
        			<li>Competitive/Compartive Anaylsis</li>
        			<li>Personas</li>
        			<li>Concept Maps</li>
        			<li>Sketching</li>
        			<li>site map</li>
        			<li>user flow</li>
        			<li>wireframes</li>
        			<li>using testing</li>
        		</ul>
        	</div>

        </div>

<!-- carousel bumbershoot -->
        <div class="col-md-8 text-left prjct-sum">

		<div id="owl-bmbrsht" class="owl-carousel owl-theme">
 
  			<div class="item"><img src="img/bmbrsht1.png" alt="The Last of us"></div>
 			<div class="item"><img src="img/bmbrsht2.png" alt="The Last of us"></div>
 			<div class="item"><img src="img/bmbrsht3.png" alt="The Last of us"></div>
 
		</div>

		</div>
    </div>
<!-- Portfolio -->
    <div class="row">
    	<div class="prjct-dv"></div>
    	    <div class="prjct-title text-left">
            <div class="col-md-8"><h3>RG Design</h3>
            <h4>portfolio website</h4></div>
            <div class="col-md-4 btn">
            	<ul class="list-inline banner-social-buttons prjct-btn">
                	<li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-sm"> <span class="network-name">Prototype</span></a>
                	</li>
                	<li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-sm"><span class="network-name">Documentation</span></a>
                	</li>
            	</ul>
        </div>
    </div>
    <div class="prjct-sum">
            <p>I approached my portfolio as if it were a design problem.  My objective was to find the optimal solution to displaying my work and personality in an effective way.  I first set out to find out what employers look for in potential employees and what is the current trend in UX portfolios. I did a search of what the world thought were well designed websites. I studied the layout, content, and general design to understand what was good about them.   After conducting my initial research,  I created wireframes. Then I used HTML5 and Bootstrap to code up the first version of my portfolio. After some months of being live, I evaluated the heuristics of the site and iterated in order to address the response to the first version in its current manifestation.</p>
    </div>
		<!-- Portfolio Sidebar-->
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<ul>
        			<li>Sketch</li>
        			<li>sketching</li>
        		</ul>
        		<h4>my role:</h4>
        		<ul>
        			<li>Competitive/Compartive Anaylsis</li>
        			<li>Personas</li>
        			<li>Concept Maps</li>
        			<li>Sketching</li>
        			<li>site map</li>
        			<li>user flow</li>
        			<li>wireframes</li>
        			<li>using testing</li>
        		</ul>
        	</div>

        </div>

<!-- carousel portfolio -->
    <div class="col-md-8 text-left prjct-sum">

		<div id="owl-prtfl" class="owl-carousel owl-theme">
 
  			<div class="item"><img src="img/prtfl1.png" alt="The Last of us"></div>
 			<div class="item"><img src="img/prtfl2.png" alt="The Last of us"></div>
 			<div class="item"><img src="img/prtfl3.png" alt="The Last of us"></div>
 
		</div>
	</div>
 	</div>

</section>

<!-- Process Section -->
<section id="process" class="container content-section text-center">
	<div class="sect-header"><h2>process</h2></div>
    <div class="row">
    	<div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<ul>
        			<li>Research</li>
        			<li>Plan</li>
        			<li>Design</li>
        			<li>Test</li>
        		</ul>

        	</div>
        </div>
        <div class="col-md-8 text-left prcss-img"></div>
        </div>

    </div>
</section>

<!-- Architect-ingSection -->
<section id="architect" class="container content-section text-center">
	    	<div class="sect-header"><h2>architecture</h2></div>
<!-- BAM -->
    <div class="row">
    	    <div class="prjct-title text-left">
            <h3>BAM</h3>
            <h4>research</h4>
    		</div>
    <div class="prjct-sum">
            <p>FairWeather Camping  was created as a companion app for the REI  ecommerce site that helps users plan and manage their camping trips. My hypothesis was that a planning app wasn’t going to help people go camping more and that something else was needed. I then interviewed outdoor enthusiasts about their camping habits and what would make camping more accessible.   After analyzing the data — the user interviews, market research and seeing what applications were already out there — I developed my persona Eliza, a mid 30’s professional who has a crazy work schedule and isn’t able to make plans in advance to go camping. What Eliza needed was a social network that would allow her to connect to her friends and their plans. </p>
    </div>
<!-- BAM Sidebar-->
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<ul>
        			<li>Plaster</li>
        			<li>Resign</li>
        			<li>Sketching</li>
        			<li>Photoshop</li>
        		</ul>
        	</div>

        </div>
<!-- BAM carousel -->        
		<div class="col-md-8 text-left prjct-sum">
		<div id="owl-bam" class="owl-carousel owl-theme">
 
  			<div class="item"><img src="img/bam1.jpg" alt="The Last of us"></div>
 			<div class="item"><img src="img/bam2.jpg" alt="GTA V"></div>
  			<div class="item"><img src="img/bam3.jpg" alt="Mirror Edge"></div>
 			<div class="item"><img src="img/bam4.jpg" alt="Mirror Edge"></div>
		</div>
		</div>

    </div>
    <div class="prjct-dv"></div>
    <!-- Al Ain -->
    <div class="row">
    	    <div class="prjct-title text-left">
            <h3>Al Ain Wildlife Park</h3>
            <h4>plan</h4>
    		</div>
    <div class="prjct-sum">
            <p>FairWeather Camping  was created as a companion app for the REI  ecommerce site that helps users plan and manage their camping trips. My hypothesis was that a planning app wasn’t going to help people go camping more and that something else was needed. I then interviewed outdoor enthusiasts about their camping habits and what would make camping more accessible.   After analyzing the data — the user interviews, market research and seeing what applications were already out there — I developed my persona Eliza, a mid 30’s professional who has a crazy work schedule and isn’t able to make plans in advance to go camping. What Eliza needed was a social network that would allow her to connect to her friends and their plans. </p>
    </div>
<!-- Al Ain Sidebar-->
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<ul>
        			<li>Drafting</li>
        			<li>Photoshop</li>
        			<li>InDesign</li>
        			<li>Photoshop</li>
        		</ul>
        	</div>

        </div>
<!-- Al Ain carousel -->        
		<div class="col-md-8 text-left prjct-sum">
		<div id="owl-alain" class="owl-carousel owl-theme">
 
  			<div class="item"><img src="img/alain1.png" alt="The Last of us"></div>
 			<div class="item"><img src="img/alain2.jpg" alt="GTA V"></div>
  			<div class="item"><img src="img/alain3.png" alt="Mirror Edge"></div>
		</div>
		</div>

    </div>
    <div class="prjct-dv"></div>
    <!-- 219 Terry -->
    <div class="row">
    	    <div class="prjct-title text-left">
            <h3>219 Terry</h3>
            <h4>design & test</h4>
    		</div>
    <div class="prjct-sum">
            <p>FairWeather Camping  was created as a companion app for the REI  ecommerce site that helps users plan and manage their camping trips. My hypothesis was that a planning app wasn’t going to help people go camping more and that something else was needed. I then interviewed outdoor enthusiasts about their camping habits and what would make camping more accessible.   After analyzing the data — the user interviews, market research and seeing what applications were already out there — I developed my persona Eliza, a mid 30’s professional who has a crazy work schedule and isn’t able to make plans in advance to go camping. What Eliza needed was a social network that would allow her to connect to her friends and their plans. </p>
    </div>
<!-- 219 Terry Sidebar-->
        <div class="col-md-4  text-left">
        	<div class="prjct-tools">
        		<h4>tools</h4>
        		<ul>
        			<li>Drafting</li>
        			<li>Revit</li>
        			<li>AutoCAD</li>
        		</ul>
        	</div>

        </div>
<!-- Al Ain carousel -->        
		<div class="col-md-8 text-left prjct-sum">
		<div id="owl-terry" class="owl-carousel owl-theme">
 
  			<div class="item"><img src="img/terry1.jpg" alt="The Last of us"></div>
 			<div class="item"><img src="img/terry2.png" alt="GTA V"></div>
  			<div class="item"><img src="img/terry3.jpg" alt="Mirror Edge"></div>
		</div>
		</div>

    </div>
</section>

<!-- About MeSection -->
<section id="aboutme" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Me</h2>
            <div class="col-md-4 photostrip">
            	<div class="rgpic"><img src="img/Rachel Greene 6633_BW.jpg"></div>
            	<div class="rgpic"><img src="img/Rachel Greene 6634.jpg"></div>
				<div class="rgpic"><img src="img/Rachel Greene 6635_BW.jpg"></div>
				<div class="rgpic"><img src="img/Rachel Greene 6636_BW.jpg"></div>
            	<div class="rgpic"><img src="img/Rachel Greene 6637_BW.jpg"></div>
            	<div class="rgpic"><img src="img/Rachel Greene 6638_BW.jpg"></div>
            </div>
            <div class="col-md-8">
            <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
            <p><a href="mailto:greenest@gmail.com">Drop me a line</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://www.linkedin.com/in/greenerachel" class="btn btn-default btn-sm"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                </li>
              <!--   <li>
                    <a href="mailto:greenest@gmail.com" class="btn btn-default btn-sm"><i class="fa fa-gmail fa-fw"></i> <span class="network-name">Email</span></a>
                </li> -->
                <li>
                    <a href="https://plus.google.com/u/0/115808940052613551628/about/p/pub" class="btn btn-default btn-sm"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Your Website 2014</p>
    </div>
</footer>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
 -->
<!-- Custom Theme JavaScript -->
<script src="js/grayscale.js"></script>